<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%=admin%> to dashboard</h1>
    <p><%=admin%></p>
    <img src="<%=imagepath%>" alt="Profile pic of admin" width="300" height="300"/>
    <a href="/logout">Logout</a>
    <a href="/upload">Upload Your Profile pic</a>
    <a href="/users">Users List</a>
    
    
</body>
</html>